.editor {
  position: relative;
  h1,
  h2,
  h3,
  h4,
  ul {
    margin: 0 0 2.03rem 0;
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }
  h2 {
    font-size: 2rem;
    font-weight: 700;
    border-bottom: 1px solid #d7d7d7;
  }
  h3 {
    font-size: 1.5rem;
  }
  p {
    width: 90%;
    margin: 0 0 2.03rem 1rem;
  }
  ul > li {
    margin: 0 0 1rem 5%;
    list-style: disc;
  }
  ol > li {
    margin: 0 0 0 5%;
    list-style: auto;
  }
  figure {
    width: 80%;
  }
  img {
    width: 100%;
  }
}
