.title{
    background-color: #cecece;
    text-align: center;
}

.flexbox{
    width: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin-top: 60px;
}

.subtitle{
    width: 80%;
    margin: 60px auto 0;
}

.menu{
    margin: 60px auto 0;
}